@media (max-width:992px) {
    

    /* .links_container{
        gap: 4px;
        width: 100%;
    } */

    .links-container_list{
        display: none;
        position: absolute;
        top: 70px;
        left: 5%;
        right: 5%;
        width: 90%;
        max-width: 100%;
        box-sizing: border-box;
        flex-direction: column;
        align-items: start;
        background: #ed6928;
        border: 2px solid #f1e0aa;
        border-top: 0;
        border-radius: 0px 0px 15px 15px;
        padding: 45px 30px;
        gap: 25px;
        z-index: 2;
    }

    .menu-label{
        display: flex;
        cursor: pointer;
        margin-left: 250px;
    }

    #menu-toggle:checked ~ .links-container_list{
        display: flex;
    }

    .links_container .links-container_list li .btn-signup{
        border: 0px;
        border-radius: 0px;
        padding: 5px;
        color: aqua;
    }

    header{
        max-width: 100%;
        
    }

    body{
        overflow-x: hidden;
    }

    

    .hero-container .hero-container_title{
        font-size: 2rem;
        margin: 15px 0;
        padding: 10px 0;
        text-align: center;
    }

    .hero-container .hero-container_subtitulo{
        font-size: 1.2rem;
    }

    .logo-container{
        margin-left: 50px;
    }

    .especialidades{
        width: 100%;
    }

    .cards-container{
        flex-direction: column;
    }

    .logo-container .logo-container_img{
        display: none;
    }
    
    .menu-label{
        margin-right: 100px;
    }

    

    
    
}


/* @media (max-width:576px){
    
} */


   

    /*Responsive en 350px*/
  /*   @media (max-width: 350px) {
        
    } */